@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-container {
  height: 100vh;
  flex-basis: 35vw;
  background-color: grey;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20vh;
}

.banner {
  color: white;
  height: 15%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5%;
  font-size: 3em;
  font-family: norse-bold, sans-serif;
}

#odin {
  height: 80%;
}

.right-container {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  min-width: 0;
  flex-basis: 65vw;
  display: flex;
  flex-direction: column;
}

form {
  border: 1px solid red;
}

/* label {
  display: inline-block;
  text-align: right;
} */

input:focus {
  outline: none;
  border: 2px solid rgb(60, 119, 239);
}