@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
  font-family: norse-bold;
  src: url(./fonts/Norse-Bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

/* ----------------------------------------------- */

.side-hero {
  height: 100%;
  flex-basis:35vw ;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20vh;
  object-fit: cover;
  
}


.banner {
  color: white;
  height: 15%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5%;
  font-size: 3em;
  font-family: norse-bold, sans-serif;
}

.logo {
  height: 80%;
}

/* ----------------------------------------------- */

.main-content {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  flex-basis: 65vw;
  display: flex;
  flex-direction: column;
  
}

.child {
  flex-basis: 30%;
  flex-grow: 1;
  min-width: fit-content;
}

.sign-up-message {
  background-color: rgb(249, 250, 252);
  padding: 40px 10px 0px 10px;
}

.footer {
  padding: 20px;
  background-color: rgb(249, 250, 252);
}

#btn {
  background-color: #596d48;
  color: white;
  padding: 8px 36px;
  margin-bottom: 30px;
  border: none;
  box-shadow: -1px 6px 4px rgb(221, 220, 222);
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
}

#btn:hover {
  background-color: #3e4c32;
  cursor: pointer;
}

.footer span {
  cursor: pointer;
  color: #596d48;
}

.form-caption {
  padding: 20px 20px 0px 20px;
  font-size: 1.3em;
}

fieldset {
  padding: 4vh;
  border: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12%;
  row-gap: 4vh;
}

.input-item {
  flex-basis: 35%;
  min-width: fit-content;
  margin: -10px;
}

label {
  display: block;
  padding-bottom: 2px;
  font-size: 0.8em;
  letter-spacing: 2px;
  color: rgb(90, 89, 89);
}

input {
  outline: none;
  border: 2px solid #e5e7eb;
  border-radius: 6px;
  height: 28px;
  caret-color: grey;
  padding: 4px;
  width: 100%;
}

input:focus {
  border: 2px solid rgb(60, 119, 239);
  box-shadow: 1px 1px 2px grey;
}
